.register--container h1 {
  margin-bottom: 0.5em;
}

.register--container {
  max-width: 500px;
}

.register--container form div {
  display: flex;
  margin-bottom: 1em;
}

.register--input label {
  font-size: 1em;
  min-width: 200px;
  padding-right: 3rem;
  text-align: left;
  flex: 1;
}

.register--input input {
  width: 100%;
  font-size: 1em;
}

.registerAnimation-appear {
  opacity: 0;
  transform: translateX(400px);
}

.registerAnimation-appear.registerAnimation-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.5s ease-in;
}

.messageAnimation-appear {
  font-size: 5em;
  color: yellow;
}

.messageAnimation-appear.messageAnimation-appear-active {
  font-size: 1em;
  transition: 1s;
  color: crimson;
  animation: nudge 2s linear;
}


@keyframes nudge {
  100% {
    transform: translateX(0px);
    color: yellow;
  }

  90% {
    transform: translateX(0px);
    color: crimson;
  }

  80% {
    transform: translateX(50px);
    color: yellow;
  }

  70% {
    transform: translateX(0px);
    color: crimson;
  }

  60% {
    transform: translateX(100px);
    color: yellow;
  }

  50% {
    transform: translateX(0px);
    color: crimson;
  }

  40% {
    transform: translateX(150px);
    color: yellow;
  }

  30% {
    transform: translateX(0px);
    color: crimson;
  }

  20% {
    transform: translateX(200px);
    color: yellow;
  }

  10% {
    transform: translateX(0px);
    color: crimson;
  }

  0% {
    transform: translateX(250px);
    color: yellow;
  }
}
