.search--container input{
    padding: 5px 10px;
    margin-right: 10px;
}

.search--container button {
    padding: 5px 10px;
    border: none;
}


@media  screen and (max-width: 650px) {
    .search--container {
        display: none;
    }
}